<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>
<h1> Olá 
	<% if(user){ %>
		<%= user.username %>
	<%}%>
</h1>
<p class="" >
	<a href="/" >Inicio</a>
	<%if( dash == null ){ %>
		<a href="/dashboardForm" >Criar</a> 
	<%} else{ %>
		<a href="/dashboardEdit" >Editar</a> %>
	<a href="/meusCatalogos" >Meus Catalogos</a>
	<a href="/criarCatalogo" >Criar Catalogo</a>
	<%}%>
</p>
<% if(!dash){ %>
	<p>Ainda nao tem cadastro, fique a vontade para fazer o seu!</p>
<% } %>
<% if(dash) {%>
	<h2 class=""><%= dash.nomeComp %> </h2>
	<p class=''><%=  dash.email %></p>
	<p class=''><%= dash.cep %></p>
	<p class=''><%= dash.endereco%> | <%= dash.numCasa %> |<%= dash.complemento %></p>
	<p class=''><%= dash.telefone[0]%> |<%= dash.telefone[1]%></p>
<% } %>
  

</body>

</html>
