<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css">
	<title >Meu Catalogo</title>
</head>
<body>
	<hr>
 <% if(user) { %>
	• 
	<a href="/" >Inicio</a> •|•
	<a href="/dashboard" >Meu Cadastro</a> •|• 
	<a href="/logout" >Sair</a> 
	•
	<hr>
<%}%>


 <% if(catalogo) { %>

	<h1>Nome: <%= catalogo.nome %></h1>
 	<h2>Proprietario: <%= user.username %></h2>
 	<p ><%= catalogo.descricao %></p>
	•<a href="/editarCatalogo" >Editar Catalogo</a>•

	<section class="produtos">
		<% catalogo.produtos.forEach((item,index)=>{ %>
		<div class="">
			<h3 class=""><%=index+1 %>-)	<%= item.nome %></h3>
			<div class="">	
				<img src="<%= item.imagens[0] %>" >	
			</div>
			
			<p class=""> <%= item.descricao %></p>
			<p class="">Valor: R$<%= item.precoVenda.toFixed(2).replace(".",",") %></p>
			<p class="">Desconto: 
			<%= item.desconto %>%
			</p>
			<p class="">Com desconto:
 R$<%= (item.precoVenda-(item.desconto/100 * item.precoVenda)).toFixed(2).replace(".",",") %>
			</p>
			•<a href="/editarProduto/<%= item._id%>" >Editar Produto| <%= item._id%></a>•

		</div>	
		<%})%>
	</section>
	<% if(catalogo.produtos.length == 0) { %>	
		<p class=" ">Você ainda não cadastrou alguma coisa</p>
		<a href="/cadastrarProduto/<%= catalogo._id %>" class="" >Cadastrar um Produto	</a>
	<%}else { %>
		<a href="/cadastrarProduto/<%= catalogo._id %>" class="" >
			Cadastrar mais um Produto.
		</a>
	<%}%>
<%}else { %>
 	<h2>Olá  <%= user.username %></h2>
	<p class="">
	Você ainda não montou seu catalogo
	<a href="/criarCatalogo">entre aqui para criar</a>
	</p>
<%}%>


<script src="/js/script.js">	</script>
</body>
</html>
